<!DOCTYPE html>
<html lang="en" dir="ltr">
    
    <head>
        <title>Daily Journal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/css/styles.css" rel="stylesheet">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-brand">DIALY JOURNAL</p>
                </div>
                <ul class="nav navbar-nav navbar-light">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="about"><a href="/about">ABOUT</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <body>
        <div class="container">